*{
    margin: 0;
    padding: 0; 
    color: white;
    /* background: linear-gradient(to bottom, #0a4d3c, #7b5a44) */
    /* background-color: white; */
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: 'inherit';
}